biojava3-aa-prop/doc/compounds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="molecular_formula">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="element" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="elements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="element" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="element">
		<xs:complexType>
			<xs:attribute name="symbol" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mono_isotopic_mass">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="count">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="compounds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="elements"/>
				<xs:element ref="amino_acids"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amino_acids">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="amino_acid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amino_acid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="molecular_formula"/>
			</xs:sequence>
			<xs:attribute name="symbol" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A"/>
						<xs:enumeration value="C"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="E"/>
						<xs:enumeration value="F"/>
						<xs:enumeration value="G"/>
						<xs:enumeration value="H"/>
						<xs:enumeration value="I"/>
						<xs:enumeration value="K"/>
						<xs:enumeration value="L"/>
						<xs:enumeration value="M"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="Q"/>
						<xs:enumeration value="R"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="T"/>
						<xs:enumeration value="V"/>
						<xs:enumeration value="W"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="short" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ala"/>
						<xs:enumeration value="Arg"/>
						<xs:enumeration value="Asn"/>
						<xs:enumeration value="Asp"/>
						<xs:enumeration value="Cys"/>
						<xs:enumeration value="Gln"/>
						<xs:enumeration value="Glu"/>
						<xs:enumeration value="Gly"/>
						<xs:enumeration value="His"/>
						<xs:enumeration value="Ile"/>
						<xs:enumeration value="Leu"/>
						<xs:enumeration value="Lys"/>
						<xs:enumeration value="Met"/>
						<xs:enumeration value="Phe"/>
						<xs:enumeration value="Pro"/>
						<xs:enumeration value="Ser"/>
						<xs:enumeration value="Thr"/>
						<xs:enumeration value="Trp"/>
						<xs:enumeration value="Tyr"/>
						<xs:enumeration value="Val"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Alanine"/>
						<xs:enumeration value="Arginine"/>
						<xs:enumeration value="Asparagine"/>
						<xs:enumeration value="Aspartic Acid"/>
						<xs:enumeration value="Cysteine"/>
						<xs:enumeration value="Glutamic Acid"/>
						<xs:enumeration value="Glutamine"/>
						<xs:enumeration value="Glycine"/>
						<xs:enumeration value="Histidine"/>
						<xs:enumeration value="Isoleucine"/>
						<xs:enumeration value="Leucine"/>
						<xs:enumeration value="Lysine"/>
						<xs:enumeration value="Methionine"/>
						<xs:enumeration value="Phenylalanine"/>
						<xs:enumeration value="Proline"/>
						<xs:enumeration value="Serine"/>
						<xs:enumeration value="Threonine"/>
						<xs:enumeration value="Tryptophan"/>
						<xs:enumeration value="Tyrosine"/>
						<xs:enumeration value="Valine"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
